
<br>
<h1 class='title-h1'> Contact Us </h1><br><br><br>



<h3 class='font'><u>Shelter Name:</u><br> New Beginnings <br><br>
<u>Address:</u><br> <%= @shelter.address %> <br><br>
<u>Hours of business:</u><br> <%= @shelter.hours %> <br><br>
<u>Phone Number:</u><br> <%= @shelter.phone_number %></h3><br>

