<h1> Shelter Show Page </h1>

Shelter Name:<br> <%= @shelter.name %> <br><br>
Address:<br> <%= @shelter.address %> <br><br>
Hours of business:<br> <%= @shelter.hours %> <br><br>
Phone Number:<br> <%= @shelter.phone_number %>
