<br><h1> Contact Us </h1><hr/><br>


<h3>Shelter Name:<br> New Beginnings <br><br>
Address:<br> <%= @shelter.address %> <br><br>
Hours of business:<br> <%= @shelter.hours %> <br><br>
Phone Number:<br> <%= @shelter.phone_number %></h3>


