<h1> Adoption Index Page </h1>

<% @adoptions.each do |adoption| %>
    <%= link_to "#{adoption.animal.name}", adoption_path(adoption) %> <br>
<% end %>
<br>
  <%= link_to "Back to Animals", animals_path %>