
<br><br><br><br>
<div class="text-center">
<h1 class ='title-h1'> Meet Our New Beginnings Shelter Buddies! </h1> 

<br><br><br>
<h3> Available Dogs for Adoption </h3><br>
<% @animals.each do |animal| %>
    <% if animal.adopted == false && animal.species == "dog"%>
 <h2> <%= link_to animal.name, animal_path(animal), {:style=>'color:#006;', :class => "css_class"} %></h2>
 <%end%>
 <%end%>

</hr>

 <br><br><br><br>
 <h3> Available Cats for Adoption </h3><br>
<% @animals.each do |animal| %>
    <% if animal.adopted == false && animal.species == "cat"%>
 <h2> <%= link_to animal.name, animal_path(animal), {:style=>'color:#006;', :class => "css_class"}%></h2>
 <%end%>
 <%end%>

 <br><br>
 <h3> Check Out Our Adopted Pets! </h3>
 <% @animals.each do |animal| %>
    <% if animal.adopted%> 
    <h2> <%= link_to animal.name, animal_path(animal), {:style=>'color:#0077;', :class => "css_class"}%></h2>
 <%end%>
 <%end%>
 <br><br><br>
 <%= button_to "Log out", logout_path, method: :delete, class: 'btn btn-mini btn-danger' %>
 </div>
 <br>
   