<h1> Meet Our Animals! </h1> <hr/>

<h2> Available Dogs for Adoption: </h2>
<% @animals.each do |animal| %>
    <% if animal.adopted == false && animal.species == "dog"%>
 <h3><li> <%= link_to animal.name, animal_path(animal)%></li></h3>
 <%end%>
 <%end%>

 <br><br>
 <h2> Available Cats for Adoption: </h2>
<% @animals.each do |animal| %>
    <% if animal.adopted == false && animal.species == "cat"%>
 <h3><li> <%= link_to animal.name, animal_path(animal)%></li></h3>
 <%end%>
 <%end%>

 <br><br>
 <h2> Check Out Our Adopted Pets! </h2>
 <% @animals.each do |animal| %>
    <% if animal.adopted%> 
    <h3><li> <%= link_to animal.name, animal_path(animal)%></li></h3>
 <%end%>
 <%end%>
 <br><br><br>
 <%= button_to "Log out", logout_path, method: :delete %>
 <br>
   