
<br>
<div class="text-center">
<h1 class ='title-h1'> Meet Our Animals! </h1> <hr/>

<h2> <u>Available Dogs for Adoption:</u> </h2>
<% @animals.each do |animal| %>
    <% if animal.adopted == false && animal.species == "dog"%>
 <h3> <%= link_to animal.name, animal_path(animal), {:style=>'color:#0000cc;', :class => "css_class"} %></h3>
 <%end%>
 <%end%>

 <br><br>
 <h2> <u>Available Cats for Adoption:</u> </h2>
<% @animals.each do |animal| %>
    <% if animal.adopted == false && animal.species == "cat"%>
 <h3> <%= link_to animal.name, animal_path(animal), {:style=>'color:#0000cc;', :class => "css_class"}%></h3>
 <%end%>
 <%end%>

 <br><br>
 <h2> <u>Check Out Our Adopted Pets!</u> </h2>
 <% @animals.each do |animal| %>
    <% if animal.adopted%> 
    <h3><li> <%= link_to animal.name, animal_path(animal), {:style=>'color:#006600;', :class => "css_class"}%></li></h3>
 <%end%>
 <%end%>
 <br><br><br>
 <%= button_to "Log out", logout_path, method: :delete, class: 'btn btn-mini btn-danger' %>
 </div>
 <br>
   