    h2 {
        font-size: 30px;
        color: DodgerBlue;
    }
  
    body {
      background-image: url('https://st2.depositphotos.com/1106005/8725/i/950/depositphotos_87251666-stock-photo-blue-doggy-tile-pattern-repeat.jpg'
      );
          
    }

    .test-h3 {
      background-image: url('../images/background.jpg');
     margin-left: 10px;
    }

    h1 {
      color: Black;
    }

    .title-h1 {
      font-family: "Comic Sans MS";
      font-size: 50px;
    }

    .first-h3 {
      text-indent: 25px;
    }
