
<br>
<h1 class='title-h1'> Meet & Greet </h1>
<hr>


<b>Shelter: New Beginnings <br><br>
Day of Appointment: <%=  @appointment.date %> <br><br>
Time of Appointment: <%= @appointment.time %> <br><br>


<%= link_to "Edit Appointment", edit_appointment_path(@appointment), class: 'btn btn-mini btn-warning' %> <br><br>

<%= link_to "Delete Appointment", appointment_path(@appointment), method: :delete, data: { confirm: "Are you sure? Please don't go :(" }, class: 'btn btn-mini btn-danger' %> </li>
<br><br><br>
